[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
setuptools = "*"
twine = "*"
wheel = "*"

[packages]
PyQt5 = "*"
pygit2 = "*"
PyQtWebEngine = "*"
pywin32 = {version = "*", os_name = "=='nt'"}
python-dateutil = "*"
requests = "*"
