[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
setuptools = "*"
twine = "*"
wheel = "*"

[packages]
kivy = "*"
"kivy-deps.glew" = "*"
"kivy-deps.sdl2" = "*"
pillow = "*"
pygit2 = "*"
pypiwin32 = { version = "*", os_name = "== 'nt'" }
python-dateutil = "*"
requests = "*"
